

body {
  margin: 0;
  font-family: 'Martel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color:#ffd000;
  background-size: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 24px;
}

nav a{
  text-decoration: none;
  color:rgb(30, 28, 26);
}

nav a:hover{
  color:rgb(204, 70, 4);
}

.home{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.milylogo img{
  height: 170px;
}

.milyphoto{
  width: 500px;
  align-items: center;
  margin: auto;
}

.milyphoto img{
  height:400px;
  border-radius: 14px;
}

.about{
  justify-content: center;
  width: 400px;

}

.about h2{
margin: auto;
}

.about p{
  margin-top: 0;
}

.contact{
  background-color: #ffd000;
  height: 450px;
  width: 350px;
  align-items: center;
  display: flex;
  flex-flow: column;
  border-radius: 12px;
  margin: auto;
}

textarea{
  margin-top:5px;
  height: 250px;
  width: 250px;
}

.contact button{
  height: 35px;
  width: 250px;
  background-color:rgb(30, 28, 26);
  color: white;
  border-radius: 6px;
  font-family:'Martel', serif;
  font-weight: 600;
}

.contact button:hover{
  background: orangered;
}

.portfolio-wrapper {
text-align: center;

}

.project-card-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.project-card{
  background-color: rgb(5, 118, 153);
  height: 550px;
  width: 450px;
  margin: auto;
  border-radius: 12px;
  color:azure;
}

.project-card p{
  padding-left: 10px;
  padding-right: 10px;
}

.project-card h3{
  font-weight: 600;
}

.project-card img{
  height: 350px;
  border-radius: 12px;
}

.project-card a{
  text-decoration: none;
  padding-left: 20px;
  color:gold;
  font-weight: 600;
}

.project-card a:hover{
  color:azure;
}

.project-card .img-bottom {
  display: none;
  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 99; */
}
.project-card:hover .img-bottom {
  display: inline;
}

.project-card:hover .img-top {
  display:none;
}

#yelp img{
width: 400px;
}

.resume-wrapper{
  text-align: center;
}

.resume{
  height: 80vh;
  width: 80vw;
  margin:auto;
}

.download-button{
  height: 35px;
  margin-right: 30px;
  float: right;
  background-color:rgb(30, 28, 26);
  color: white;
  border-radius: 6px;
  font-family:'Martel', serif;
  font-weight: 600;
}